@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #f8fafc;
}

.neon-text-shadow {
  text-shadow: 0 0 10px rgba(57, 255, 20, 0.5);
}

.neon-box-shadow {
  box-shadow: 0 0 20px rgba(57, 255, 20, 0.15);
}